body
{
	background-color: powderblue;
}

header
{
	background: radial-gradient(ellipse, #a30000 10%, #330000 50%);
}

header h1
{
	color: red;
}

header h1:hover
{
	color: white;
}

p.arbitraryStyle
{
	color: blue;
}

p a.arbitraryStyle
{
	font-size: 30px;
}

p textarea#honk_text
{
	height: 300px;
	width: 500px;
}

p img#honk_img:hover
{
	animation-name: honk_img_rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes honk_img_rotate
{
	from{transform: rotateZ(0deg);}
	to{transform: rotateZ(359deg);}
}