#header
{
	background: radial-gradient(ellipse, #a30000 10%, #330000 50%);
}

h1
{
	color: red;
}

#body
{
	background: radial-gradient(ellipse, #00a300 10%, #003300 50%);
}

p.arbitraryStyle
{
	color: blue;
}

p a.arbitraryStyle
{
	font-size: 30px;
}
