body
{
	background-color: powderblue;
}

header
{
	background: radial-gradient(ellipse, #a30000 10%, #330000 50%);
}

header h1
{
	color: red;
}

p.arbitraryStyle
{
	color: blue;
}

p a.arbitraryStyle
{
	font-size: 30px;
}
